<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CNG_Booking_Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.CNG_Backend.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.CNG_Backend.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uSERlOGIN</display-name>
    <servlet-name>uSERlOGIN</servlet-name>
    <servlet-class>com.CNG_Backend.uSERlOGIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uSERlOGIN</servlet-name>
    <url-pattern>/uSERlOGIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Login</display-name>
    <servlet-name>User_Login</servlet-name>
    <servlet-class>com.CNG_Backend.User_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Login</servlet-name>
    <url-pattern>/User_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pumplogin</display-name>
    <servlet-name>pumplogin</servlet-name>
    <servlet-class>com.CNG_Backend.pumplogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pumplogin</servlet-name>
    <url-pattern>/pumplogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerpump</display-name>
    <servlet-name>registerpump</servlet-name>
    <servlet-class>com.CNG_Backend.registerpump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerpump</servlet-name>
    <url-pattern>/registerpump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookinglogins</display-name>
    <servlet-name>bookinglogins</servlet-name>
    <servlet-class>com.CNG_Backend.bookinglogins</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookinglogins</servlet-name>
    <url-pattern>/bookinglogins</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepumps</display-name>
    <servlet-name>updatepumps</servlet-name>
    <servlet-class>com.CNG_Backend.updatepumps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepumps</servlet-name>
    <url-pattern>/updatepumps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewuserpump</display-name>
    <servlet-name>viewuserpump</servlet-name>
    <servlet-class>com.CNG_Backend.viewuserpump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewuserpump</servlet-name>
    <url-pattern>/viewuserpump</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewregisterpump</display-name>
    <servlet-name>viewregisterpump</servlet-name>
    <servlet-class>com.CNG_Backend.viewregisterpump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewregisterpump</servlet-name>
    <url-pattern>/viewregisterpump</url-pattern>
  </servlet-mapping>
</web-app>